<!-- fileuploader/templates/fileuploader/file_list.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Uploaded Files</title>
  </head>

  <body>
    <h2>Uploaded Files</h2>
    <a href="{% url 'upload_file' %}">Upload a new file</a>
    <ul>
      {% for file in files %}
      <li>
        <a href="{% url 'file_detail' file.pk %}">{{ file.file.name }}</a>
      </li>
      {% endfor %}
    </ul>

    <h2>Word Clouds</h2>
    {% if word_clouds %}
    <ul>
      {% for file, image_path in word_clouds %}
      <li>
        <a href="{% url 'file_detail' file.pk %}">
          <img
            width="100"
            height="100"
            src="{{ image_path }}"
            alt="Word Cloud for {{ file.file.name }}"
          />
        </a>
        <a href="{% url 'file_detail' file.pk %}">{{ file.file.name }} </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No word clouds available.</p>
    {% endif %}
  </body>
</html>
